@import "tailwindcss" source(".");

@theme {
	--font-sans:
		"Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	font-family: 'Montserrat', sans-serif !important;
	@apply bg-[#f2f2f5] text-[#1F2328];
	color-scheme: light;
}

.dark\:bg-dot-white\/\[0\.2\] {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 24px 24px;
}
.bg-dot-black\/\[0\.2\] {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 24px 24px;
}
